<%= form_with model: recipe, local: true, url: new_user_recipe_path(@user,@recipe) do |r| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= r.label :title %>
    <%= r.text_field :title %>
  </div>

  <div class="field">
    <%= r.label :description %>
    <%= r.text_area :description %>
  </div>
<br>
  <h3>This recipe's ingredients:</h3>    
<!-- nested form -->
  <%= r.fields_for :ingredients do |i|%>
  <div class="field">
    <%= i.label :name%>
    <%= i.text_field :name%>
  </div>

  <div class="field">
    <%= i.label :description %>
    <%= i.text_field :description%>
  </div>

<!-- subnested form -->
    <%= i.fields_for :recipe_ingredient do |ri|%>
    <div class="field">
    <%= ri.label :quantity %>
    <%= ri.text_field :quantity %>
    </div>
    <% end%>
<br>
  <% end %>
  <div class="actions">
    <%= r.submit %>
  </div>
<% end %>
