<h1>Recipes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.description %></td>
        <td>
          <p><%= link_to 'Show',user_recipe_path(@user, recipe), class:"btn btn-info" %></p>
          <p><%= link_to 'Edit', edit_user_recipe_path(@user,recipe), class:"btn btn-warning" %></p>
          <p><%= link_to 'Destroy',user_recipe_path(@user,recipe), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_user_recipe_path(@user), class:"btn btn-success" %>
