<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
  <strong>Ingredients:</strong>
<ol>
<% @recipe.ingredients.each do |ingredient| %>
<li><%= quantity(ingredient)+" " %><%= link_to ingredient.name, user_recipe_ingredient_path(@user, @recipe, ingredient) %></li>
<% end %>
</ol>
  <strong>Instructions:</strong>
  <p><%= @recipe.instructions %>
<br>
<br>
<%= link_to 'Edit', edit_user_recipe_path(@user,@recipe), class: "btn btn-warning" %> |
<%= link_to 'delete',user_recipe_path(@user,@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
