<h2 class="center">Ketocook: Lose weight, eat great!</h2>

  <% if session[:current_user_id] %>
    <h1>Welcome back <%= @user.username %></h1>
  <% else %>
    <br>

  <div class="center">
    <h1>Sign In</h1>

      <%= form_for(:session, url: login_url) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %><br><br>
      <%= f.label :password %>
      <%= f.password_field :password, id: "password" %><br>
      <br>
      <%= f.submit value: "Log In", class:"btn btn-success" %>
      <% end %> 
    <%= link_to('Log in with Facebook', '/auth/facebook/callback') %>
  </div>
      <br><br>
    <h3 class="center">Or register <%= link_to('Here', '/users/new') %> if you are a new user</h3>
  <% end %>
