<h1>Ketocook!  Lose weight, eat great!</h1>

  <% if session[:user_id] %>
    <h1>Welcome back!</h1>
    <h2>Email: <%= @user.email %></h2>
    <h2>Facebook UID: <%= @user.uid %></h2>
  <% else %>
    <h1>Sign In</h1>
      <br><br>
      <%= form_for(:session, url: signin_url) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email%>
      <%= f.label :password %>
      <%= f.password_field :password, id: "password" %><br>
      <%= f.submit value: "Sign In" %>
      <% end %> 
    <%= link_to('Log in with Facebook', '/auth/facebook') %>
      <br><br>
    <h1>Or register <%= link_to('Here', '/users/new') %> if you are a new user</h1>
  <% end %>
