<h2 class="center">Ketocook: Lose weight, eat great!</h2>

  <% if session[:current_user_id] %>
    <h1>Welcome back <%= @user.username %></h1>
  <% else %>
    <br>

  <div class="center">
    <h1>Sign In</h1>

      <%= form_for(:session, url: login_url) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %><br><br>
      <%= f.label :password %>
      <%= f.password_field :password, id: "password" %><br>
      <br>
      <%= f.submit value: "Log In", class:"btn btn-success" %>
      <% end %> 
  </div>

    <h1 class="center">OR</h1>
    <h3 class="center">Login with:</h3>

    <div class="center">
    <%= link_to('Facebook', '/auth/facebook', class: "login btn btn-primary") %>
    </div>
    <br>
    <div class="center">
    <%= link_to('Google', '/auth/google_oauth2', class: "login btn btn-info") %>
    </div>
    <br>
    <div class="center">
    <%= link_to('Github', "https://github.com/login/oauth/authorize", class: "login btn btn-warning") %>
    </div>
      <br><br>
    <h3 class="center">Or register <%= link_to('Here', '/users/new') %> if you are a new user</h3>
  <% end %>
