<h1>Ketocook!  Lose weight, eat great!</h1>

  <% if session[:user_id] %>
    <h1>Welcome back <%= @user.username %></h1>
    <h2>Facebook UID: <%= @user.uid %></h2>
  <% else %>
    <br>
    <h1>Sign In</h1>
      <div class='center'>
      <%= form_for(:session, url: login_url) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %><br><br>
      <%= f.label :password %>
      <%= f.password_field :password, id: "password" %><br>
      <br>
      <%= f.submit value: "Log In" %>
      <% end %> 
    <%= link_to('Log in with Facebook', '/auth/facebook') %>
      </div>
      <br><br>
    <h1>Or register <%= link_to('Here', '/users/new') %> if you are a new user</h1>
  <% end %>
