  <strong>Username: <%= @user.username %><%= button_to "Randomize Meals", meal_plan_path, class:"btn btn-warning" %>
  </strong> 

<% if meal_plan? %>
  <table class="table table-bordered">
      <th>Day</th>
      <th>Meals</th>
      <% @weekdays.each_with_index do |weekday, i| %>
      <% recipe = meal_plan[i] %> 
      <tr>
        <td><%= weekday %></td>
        <td><%= link_to recipe.title, user_recipe_path(@user, recipe) %></td> 
      </tr> 
      <% end %>
  </table>
<% end %>

<p>
<%= link_to "My recipes", user_recipes_path(@user), class:"btn btn-primary" %>
<%= link_to "My ingredients", ingredients_path, class:"btn btn-info" %>
</p>
<p>
  <%= link_to 'Log out', logout_path %>

</p>

<%= link_to 'Account Settings', edit_user_path(@user) %>

