<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
  <table>
      <th>Day</th>
      <th>Meals</th>
    <tr>
      <td>Sunday</td>
      <td>fetuccine alfredo</td>
    </tr>

    <tr>
      <td>Monday</td>
      <td>cottage cheese</td>
    </tr>

    <tr>
      <td>Tuesday</td>
      <td>beef jerky</td>
    </tr>

    <tr>
      <td> Wednesday</td>
      <td>boiled eggs</td>
    </tr>

    <tr>
      <td>Thursday</td>
      <td>Spaghetti squash</td>
    </tr>

    <tr>
      <td>Friday</td>
      <td>Oatmeal</td>
    </tr>

    <tr>
      <td>Saturday</td>
      <td>Cabbage sandwhich with Turkey</td>
    </tr>

  </table>
<p>
  <%= link_to 'Log out', logout_path %>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
