<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>


<p>   
  <strong>Recipes this ingredient is used in:</strong>

  <ol>
  <% @ingredient.recipes.each do |recipe|%>
    <li> <%= link_to recipe.title, user_recipes_path(@user, recipe) %></li>
  <% end %>
  </ol>
<% if @user && @recipe %>
  <%= link_to 'Edit', edit_user_recipe_ingredient_path(@user, @recipe,  @ingredient) %> |
  <%= link_to 'Back', user_recipe_path(@user, @recipe) %>
<% else %>
  <%= link_to 'Edit', edit_ingredient_path(@ingredient)%>
  <%= link_to 'Back', user_path(@user) %>
<% end %>
